@{
    ViewBag.Title = "About";
}
@*<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>*@
<style>
    body{
        overflow-x:hidden;
        overflow-y: scroll;
    }
    .imageContain {
        position:relative
    }
    .imageText{
        position:absolute;
        left:45%;
        top: 20px;
        font-family:'Sans Serif Collection';
        color: black;
    }
    .image {
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }
    .imageExplain {
        position: absolute;
        left: 5%;
        top: 20%;
        font-family: 'Sans Serif Collection';
        color: black;
    }
</style>
<div class="row-fluid">
    <div class="span12 imageContain">
        <img src="~/img/slider1.jpeg" class="d-block image" alt="CSMS mechanic service ">
        <h1 class="d-inline-block imageText">About Us</h1>
            <p class="imageExplain"></p>
    
    </div>
</div>