@{
    ViewBag.Title = "About";
}
@*<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>*@
<style>
    body{
        overflow-x:hidden;
        overflow-y: scroll;
    }
    .imageContain {
        position:relative
    }
    .imageText {
        position: absolute;
        left: 45%;
        top: 20px;
        font-family: 'Sans Serif Collection';
        color: black;
    }
   
    .image {
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }
    .imageExplain {
        position: absolute;
        left: 5%;
        top: 20%;
        font-family: 'Sans Serif Collection';
        color: black;
    }
    .container {
        position: relative;
    }

    
    .text-block {
        position: absolute;
        bottom: 450px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-block1 {
        position: absolute;
        right: 43%;
        bottom: 480px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .text-block2 {
        position: absolute;
        bottom: 370px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

    .text-block3 {
        position: absolute;
        right: 43%;
        bottom: 400px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .text-block4 {
        position: absolute;
        bottom: 320px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

    .text-block5 {
        position: absolute;
        right: 43%;
        bottom: 350px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }


    .text-block6 {
        position: absolute;
        bottom: 270px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

    .text-block7 {
        position: absolute;
        right: 43%;
        bottom: 300px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .text-block8 {
        position: absolute;
        bottom: 220px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

    .text-block9 {
        position: absolute;
        right: 43%;
        bottom: 250px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .text-block10 {
        position: absolute;
        bottom: 170px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

    .text-block11 {
        position: absolute;
        right: 43%;
        bottom: 210px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .text-block12 {
        position: absolute;
        bottom: 120px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

    .text-block13 {
        position: absolute;
        right: 43%;
        bottom: 160px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .text-block14 {
        position: absolute;
        bottom: 50px;
        background-color: transparent;
        color: black;
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
    }

</style>
<div class="row-fluid">
    <div class="span12 imageContain">
        <img src="~/img/slider1.jpeg" class="d-block image" alt="CSMS mechanic service ">
        <h1 class="d-inline-block imageText"><b>About Us</b></h1>
        <p class="imageExplain"></p>


    </div>

    <div class="container">

        <div class="text-block">
            <p>Modern testing tools and digital information systems are employed in car service. As a result, our experts complete their work in a professional manner, and your vehicle will be delivered on schedule. We take pleasure in offering our customers the benefit of our extensive experience.</p>
        </div>
        <div class="text-block1">
            <h4 class="d-inline-block imageText"><b>Exceptional Exxellence</b></h4>

        </div>
        <div class="text-block2">
            <p>Under the manufacturer's warranty, there is no loss: We perform all maintenance and repairs in accordance with the manufacturer's guidelines to ensure that the vehicle is fully covered by the warranty.</p>

        </div>
        <div class="text-block3">
            <h4 class="d-inline-block imageText"><b>Professional Work</b></h4>

        </div>
        <div class="text-block4">
            <p>Our entire staff is very skilled. We always employ cutting-edge technology.</p>
        </div>
        <div class="text-block5">
            <h4 class="d-inline-block imageText"><b>Equivalent Spare Parts</b></h4>

        </div>
        <div class="text-block6">
            <p>To preserve the value of your vehicle, we only utilize original components or the best aftermarket components.</p>
        </div>
        <div class="text-block7">
            <h4 class="d-inline-block imageText"><b>Honesty</b></h4>

        </div>
        <div class="text-block8">
            <p>Your car will be well-cared for by us. Our services always adhere to all applicable safety and environmental regulations.</p>
        </div>

        <div class="text-block9">
            <h4 class="d-inline-block imageText"><b>Everything a Vehicle Needs</b></h4>

        </div>
        <div class="text-block10">
            <p>We offer any service your car might possibly require. On everything pertaining to the automobile, we provide knowledgeable guidance.</p>
        </div>

        <div class="text-block11">
            <h4 class="d-inline-block imageText"><b>Time Saving</b></h4>

        </div>
        <div class="text-block12">
            <p>You may bring your car in with just a little early notice, and we'll get to work on the repairs right away to keep you from having to wait too long.</p>
        </div>
        <div class="text-block13">
            <h4 class="d-inline-block imageText"><b>Expert Work, Open Pricing</b></h4>

        </div>
        <div class="text-block14">
            <p>During vehicle acceptance, we notify you of all the work that has to be done in relation to the problem and the time frame. Hence, you can determine the whole cost of everything right away.</p>
        </div>

    </div>

    </div>



