@{
	ViewBag.Title = "About";
}
@*<hgroup>
		<h2>@ViewBag.Title.</h2>
		<h3>@ViewBag.Message</h3>
	</hgroup>*@

@*<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">*@



<style>
	* {
		padding: 0;
		margin: 0;
	}

	body {
		background-color: white;
		/*font-family: 'Roboto', sans-serif;*/
		
	}
    .container {
        position: relative;
        margin-bottom: 150px;
    }



	.about-1 {
		margin: 30px;
		padding: 5px;
	
	}

		.about-1 h1 {
			text-align: center;
			color: black;
			font-weight: bold;
		}

		.about-1 p {
			text-align: center;
			padding: 3px;
			color: black;
		}

	.about-item {
		margin-bottom: 20px;
		background-color: grey;
		padding: 80px, 30px;
		box-shadow: 0 0 9px rgba(0,0,0,0.6);
	}

		.about-item i {
			font-size: 43px;
			margin: 0;
		}

		.about-item h3 {
			font-size: 25px;
			margin-bottom: 10px;
		}

		.about-item p {
			margin-top: 20px;
		}

		.about-item:hover {
			background-color: dimgray;
		}

			.about-item:hover i,
			.about-item:hover h3,
			.about-item:hover p {
				color: #fff;
			}

			.about-item:hover hr {
				background-color: #fff;
			}
</style>




<section id="about">
	<div class="about-1">
		<h1>About Us </h1>
		<p>
			Modern testing tools and digital information systems are employed in car service. As a result,
			our experts complete their work in a professional manner, and your vehicle will be delivered on schedule.
			We take pleasure in offering our customers the benefit of our extensive experience.
		</p>
	</div>
	<div id="about-2">
		<div class="container-box-lg">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="about-item text-center">
                            <h3>Exceptional Excellence</h3>
							<hr>
							<p>
								Under the manufacturer's warranty, there is no loss: We perform all maintenance and repairs in accordance with the manufacturer's
								guidelines to ensure that the vehicle is fully covered by the warranty.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Expert Work, Open Pricing</h3>
							<hr>
							<p>
								During vehicle acceptance, we notify you of all the work that has to be done in relation to the problem and the time frame. Hence, you can determine the whole cost of everything right away.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Everything a Vehicle Needs</h3>
							<hr>
							<p>
								We offer any service your car might possibly require. On everything pertaining to the automobile, we provide knowledgeable guidance.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Time Saving</h3>
							<hr>
							<p>
								You may bring your car in with just a little early notice, and we'll get to work on the repairs right away to keep you from having to wait too long.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Professional Work</h3>
							<hr>
							<p>
								Our entire staff is very skilled. We always employ cutting-edge technology.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Equivalent Spare Parts</h3>
							<hr>
							<p>
								To preserve the value of your vehicle, we only utilize original components or the best aftermarket components.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Equivalent Spare Parts</h3>
							<hr>
							<p>
								To preserve the value of your vehicle, we only utilize original components or the best aftermarket components.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-item text-center">
							<h3>Honesty</h3>
							<hr>
							<p>
								Your car will be well-cared for by us. Our services always adhere to all applicable safety and environmental regulations.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>



