
@{
    ViewBag.Title = "Create Fault Record";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "Order"))
{
    <input type="hidden" name="CarId" value="@ViewBag.CarId" />
    <div class="row">
        <div class="col-md-4">
            Car Km
            <input type="number" name="CarKm" class="form-control" required />
        </div>
        <div class="col-md-4">
            Arrival Date
            <input type="date" name="ArrivalDate" class="form-control" required />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            Description
            <textarea class="form-control" name="Record" style="max-width:700px; height:100px;" required></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Create" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
        </div>
    </div>

}
