@model IEnumerable<CSMS.Models.ApplicationUser>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <tr>
        <th>
            <a>Mail Adress</a>
        </th>
        <th>
            <a>Role</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @foreach (var x in item.Roles)
            {
                if (x.RoleId == "6c20cc94-40e9-4261-945c-bf8320561068")
                {
                    <td>Admin</td>
                }
                else if (x.RoleId == "72543cc3-fee3-44bc-a014-e5e1312dc790")
                {
                    <td>Customer</td>
                }
                else
                {
                    <td>Mechanic</td>
                }

            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>
